@{
    ViewBag.Title = "Сервисы";
}

@Html.Partial("_Menu")

<br /><br /><br /><br />
<section class="main-section-content">
    <div class="row">
        <div class="content">
            <div class="col-md-6">
                <br />
                <img class="main-image" src="/Content/Images/Qualification.jpg" alt="tests" />
            </div>
            <div class="col-md-6 right-content">
                <h3 id="services">
                    <b>Сервисы</b>
                </h3>
                <hr />
                <div class="main-text">
                    <p>
                        <b>IT Step Test</b> - являть собой систему тестирования знаний студентов с разных дисциплин.
                    </p>
                    <p>
                        Сервис предоставляет ряд функциональных возможностей по управлению тестированием, проверки результатов тестирования, а также интерактивному общению пользователей сайта по средствам
                        внутренней системы сообщений и системы комминтариев для тестов в целом.
                    </p>
                    <p>
                        Сервис розделяет пользователей на три группы: студент, преподаватель, администратор
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="no-padding-content relative">
            <div class="contacts-global-social">
                <div class="contacts-global-social-title">Присоединяйся к нам:</div>
                <div class="contacts-global-social-button">
                    <a href="#" class="btn btn-lg btn-default">VKONTAKTE</a>
                    <a href="#" class="btn btn-lg btn-default">TWITTER</a>
                    <a href="#" class="btn btn-lg btn-default">FACEBOOK</a>
                </div>
            </div>
            <img id="base-images" src="/Content/Images/future-proof-simple.jpg" />
        </div>
    </div>
    <div id="scrollup">
        <img alt="Прокрутить вверх" src="/Images/to_top.png">
    </div>
</section>
