<!DOCTYPE html>
<html lang="ru">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>IT Step Tests</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
                <!--Styles.Render("~/Content/css")-->
        <link href="~/Content/bootstrap/bootstrap-theme.css" rel="stylesheet" />
        <link href="~/Content/style.css" rel="stylesheet" />
                <!--Scripts.Render("~/bundles/modernizr")-->
    </head>
<!--<body>
<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">Html.ActionLink("ваша эмблема здесь", "Index", "Home")</p>
        </div>
        <div class="float-right">
            <section id="login">
                Html.Partial("_LoginPartial")
            </section>
            <nav>
                <ul id="menu">
                    <li>Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    <li>Html.ActionLink("О программе", "About", "Home")</li>
                    <li>Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div id="body">
    RenderSection("featured", required: false)
    <section class="content-wrapper main-content clear-fix">
        RenderBody()
    </section>
</div>
<footer>
    <div class="content-wrapper">
        <div class="float-left">
            <p>&copy; DateTime.Now.Year — приложение ASP.NET MVC</p>
        </div>
    </div>
</footer>



</body>-->
<body>
<div>@RenderBody()</div>
<script src="~/Scripts/jquery/jquery-2.2.0.js"></script>
<script src="~/Scripts/bootstrap/bootstrap.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

<script>
    $(document).ready(function() {
        $(".ancor").on("click", "a", function(event) {
            event.preventDefault();
            var id = $(this).attr('href'),
                top = $(id).offset().top;
            $('body,html').animate({ scrollTop: top }, 1000);
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        jQuery('#scrollup img').mouseover(function () {
            jQuery(this).animate({ opacity: 0.65 }, 100);
        }).mouseout(function () {
            jQuery(this).animate({ opacity: 1 }, 100);
        }).click(function () {
            window.scroll(0, 0);
            return false;
        });

        jQuery(window).scroll(function () {
            if (jQuery(document).scrollTop() > 0) {
                jQuery('#scrollup').fadeIn('fast');
            } else {
                jQuery('#scrollup').fadeOut('fast');
            }
        });
    });
</script>

</body>
</html>
