<!DOCTYPE html>
<html lang="ru">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>IT Step Tests</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
                <!--Styles.Render("~/Content/css")-->
        <link href="~/Content/bootstrap/bootstrap-theme.css" rel="stylesheet" />
        <link href="~/Content/style.css" rel="stylesheet" />
                <!--Scripts.Render("~/bundles/modernizr")-->
    </head>

<body>
@RenderBody()
<script src="~/Scripts/jquery/jquery-2.2.0.js"></script>
<script src="~/Scripts/bootstrap/bootstrap.js"></script>
    @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        <script src="~/Scripts/mainScript.js"></script>
<script>
    $(document).ready(function() {
        $(".ancor").on("click", "a", function(event) {
            event.preventDefault();
            var id = $(this).attr('href'),
                top = $(id).offset().top;
            $('body,html').animate({ scrollTop: top }, 1000);
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        jQuery('#scrollup img').mouseover(function () {
            jQuery(this).animate({ opacity: 0.65 }, 100);
        }).mouseout(function () {
            jQuery(this).animate({ opacity: 1 }, 100);
        }).click(function () {
            window.scroll(0, 0);
            return false;
        });

        jQuery(window).scroll(function () {
            if (jQuery(document).scrollTop() > 0) {
                jQuery('#scrollup').fadeIn('fast');
            } else {
                jQuery('#scrollup').fadeOut('fast');
            }
        });

        jQuery.extend(jQuery.validator.messages, {

            required: "* Поле обязательно для заполнения",
            remote: "Please fix this field.",
            email: "Please enter a valid email address.",
            url: "Please enter a valid URL.",
            date: "Please enter a valid date.",
            dateISO: "Please enter a valid date (ISO).",
            number: "Please enter a valid number.",
            digits: "Please enter only digits.",
            creditcard: "Please enter a valid credit card number.",
            equalTo: "Please enter the same value again.",
            accept: "Please enter a value with a valid extension.",
            maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
            minlength: jQuery.validator.format("Please enter at least {0} characters."),
            rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
            range: jQuery.validator.format("Please enter a value between {0} and {1}."),
            max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
            min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")

        });
    });
</script>

</body>
</html>
