@model ITStepTest.Models.Question

@{
    ViewBag.Title = "Тест";
}

@Html.Partial("_Menu")

<section class="main-section-content">
    <div class="row ">
        <div class="content">
            <div class="col-md-12">
                <br /><br />
                <h3>
                    <b>Удалить вопрос</b>
                </h3>
                <hr />

                <p>Вы действительно хотите удалить вопрос?</p>
                <p>
                    @Html.DisplayFor(model => model.Text) @Html.DisplayFor(model => model.Text)
                </p>
                @using (Html.BeginForm())
                {
                    <div class="error">
                        @Html.AntiForgeryToken()
                    </div>
                    <p>
                        <input type="submit" class="btn btn-default" value="Удалить" />
                    </p>
                }
                <br />
                <div>
                    <a href="/Question/List/@ViewBag.TestId">Вернуться к списку</a>
                </div>
            </div>
        </div>
    </div>
    <div id="scrollup">
        <img alt="Прокрутить вверх" src="/Images/to_top.png">
    </div>
</section>
