<div class="modal-body">
    <div class="form-group hide">
        <label for="Question">Test</label>
        <input type="text" class="form-control" id="Question" name="question" required value="@ViewBag.QuestionId">
    </div>
    <div class="form-group hide">
        <label for="Test">Test</label>
        <input type="text" class="form-control" id="Test" name="test" value="@ViewBag.TestId">
    </div>
    <div class="form-group">
        <label for="Text">Текст</label>
        <input type="text" class="form-control" id="Text" name="text" placeholder="Текст">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="True"> Правильный
        </label>
    </div>
</div>